@import url("https://fonts.googleapis.com/css2?family=Gabarito&family=Roboto:wght@500&display=swap");
* {
    margin: 0;
    padding: 0;
    /* height: 1000px; */
    font-family: Gabarito, sans-serif;
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}
header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #8fa18b;
    align-items: center;
    padding: 20px 100px;
}
header .logo {
    position: relative;
    font-family: Gabarito, sans-serif;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}
header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    position: relative;
    list-style: none;
}
header ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
}

header a:hover {
    text-decoration: underline;
}
.humberger {
    display: none;
    cursor: pointer;
}
.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

.wisata h1 {
    padding-top: 20px;
    color: black;
    text-align: center;
    font-size: 40px;
}

.conntainer {
    padding-top: 20px;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.card {
    width: 100%;
    height: 450px;
    border-radius: 20px;
    overflow: hidden;
    border: 8px solid #fff;
    position: relative;
}
.card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}
.card-body {
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    color: #fff;
    position: absolute;
    background: #1f3d4738;
    backdrop-filter: blur(5px);
    border-radius: 15px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1.5s;
}
.card:hover .card-body {
    right: 0;
}
.card-title {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 500px;
}

.card-info {
    font-size: 16px;
    line-height: 25px;
    margin: 40px 0;
    font-weight: 400;
}
.card-btn {
    color: #000;
    background-color: #fff;
    width: 120px;
    padding: 10px 20px;
    border-radius: 5px;
    text-transform: capitalize;
    border: none;
    outline: none;
    font-weight: 500px;
    cursor: pointer;
}

/* css footer */
.footer {
    padding: 30px 0;
    background-color: #8fa18b;
    margin-top: 30px;
}
.footer .socialmedia {
    text-align: center;
    padding-bottom: 25px;
    color: #fff;
}
.footer .socialmedia a {
    font-size: 24px;
    color: inherit;
    border: 1px solid #ccc;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0.8px;
    opacity: 0.75;
}
.footer .socialmedia a:hover {
    opacity: 0.9;
}
.footer ul {
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
    color: #fff;
}
.footer ul li {
    display: inline-block;
    padding: 0 15px;
}
.footer ul li a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}
.footer ul li a:hover {
    opacity: 1;
}
.footer .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 14px;
    color: rgb(255, 255, 255);
}
/* css footer end */

@media (max-width: 768px) {
    .humberger {
        display: block;
    }
    .humberger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .humberger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .humberger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    header .logo {
        font-size: 1em;
    }
    header ul {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background: hsla(0, 0%, 100%, 0.452);
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }
    header ul li {
        margin: 16px 0;
    }
    header ul li a {
        color: black;
    }
    header ul.active {
        left: 0;
    }
    .conntainer {
        flex-direction: column;
    }
}
